.title-sign-in {
    font-size: 2em;
    color: #3B5998;
    font-family: serif;
}

.login-row {
    padding-top: 1em;
}

.sign-in {
    padding-left: unset;
}

.facebook {
    text-align: right;
}

.fb-icon {
    color: #3B5998;
    cursor: pointer;
}